<form action="/ask" data-turbo="false">
  <input type="text" name="answer">
  <input type="submit" value="Ask!">
</form>

<!-- app/views/questions/answer.html.erb -->
<h1>Your question:</h1>
<p><%= @question %></p>

<h1>The coach answers:</h1>
<p><%= @answer %></p>

<%= link_to 'Ask another question', '/ask' %>


